.header {
  padding-top: 25px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.logo {
  letter-spacing: 4px;
  font-size: 2em;
  margin-top: -4px;
  text-align: center;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .logo {
    text-align: left;
  }
}
